:root {
	--color-primary: #991747;
	--color-primary-light: #b53e69;
	--color-primary-lighter: #e6d5db;
	--color-primary-dark: #7c0f37;
	--color-primary-black: #3e0c1e;
	--color-secondary: #aebcb6;
    --color-secondary-light: #d4deda;
    --color-secondary-lighter: #f0f7f4;
    --color-secondary-dark: #2a4e3e;
	--color-secondary-black: #092b18;
	--color-tertiary: #c9e1ea;
	--color-tertiary-light: #e6f1f5;
	--color-tertiary-dark: #a5c2ce;
	--color-tertiary-darker: #233d47;
	--color-tertiary-black: #0a2e3e;
	--color-white: #fff;
	--color-black: #000;

	--font-body: "Poppins", sans-serif;
	--font-heading: "Raleway", sans-serif;

	--button-text-color: var(--color-white);
	--button-background-color: var(--color-primary);
	--button-background-color-hover: var(--color-primary-light);

	--section-background-color: var(--color-white);
	--section-heading-color: var(--color-primary-black);
	--section-body-color: var(--color-black);
}
html:focus-within { scroll-behavior: smooth; }
html, body { padding: 0; margin: 0; font-family: var(--font-body); font-size: 16px; color: #000; box-sizing: border-box; -webkit-font-smoothing: antialiased; }
* { font-family: inherit; font-size: inherit; box-sizing: inherit; -webkit-font-smoothing: inherit; }

body { border-top: 177px solid white; background-color: var(--color-primary); }
main { width: 100%; overflow: hidden; }

h1 { font-family: var(--font-heading); }
h2 { margin-top: 0; font-family: var(--font-heading); font-size: 2.5rem; }
h3 { font-family: var(--font-heading); font-size: 2rem; }

section { padding: 120px 0; font-size: 1.1rem; color: var(--section-body-color); background-color: var(--section-background-color); }
section.primary { --section-background-color: var(--color-primary); --section-heading-color: var(--color-white); --section-body-color: var(--color-primary-lighter); --button-background-color: var(--color-primary-dark); --button-background-color-hover: var(--color-primary-light); }
section.secondary { --section-background-color: var(--color-secondary-light); --section-heading-color: var(--color-secondary-black); --section-body-color: var(--color-secondary-dark); }
section.tertiary { --section-background-color: var(--color-tertiary); --section-heading-color: var(--color-tertiary-black); --section-body-color: var(--color-tertiary-darker); }
section.diagonal-top { padding-top: 150px; margin-top: -45px; clip-path: polygon(0% 45px, 0% 100%, 100% 100%, 100% 0%); }
section h2,
section h3,
section h4 { color: var(--section-heading-color); }
section.hidden { display: none; }

.container { width: 1140px; max-width: 90%; margin: auto; }
.container.small { width: 768px; }

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-small { font-size: .85rem; }

p:first-child { margin-top: 0; }
p a { text-decoration: none; color: var(--button-background-color); transition: all .15s ease; }
p a:hover { color: var(--color-primary-black); }
section.primary p a { color: var(--color-white); }
section.primary p a:hover { color: var(--color-primary-lighter); }

ol li { margin-bottom: 20px; font-size: 1.25rem; font-weight: 500; color: var(--color-primary-light); width: 600px; max-width: 100%; }
ol li::marker { font-family: var(--font-heading); font-size: 3rem; line-height: 1; color: var(--color-primary-light); }

button, 
.button { display: inline-flex; padding: .75em 1.75em; margin-top: 1em; margin-right: 1em; align-items: center; font-size: 1rem; font-weight: 600; text-decoration: none; color: var(--button-text-color); background-color: var(--button-background-color); border: none; border-radius: 1px; border-bottom-left-radius: .75em; cursor: pointer; transition: background-color .25s ease; }
button:hover, 
.button:hover { background-color: var(--button-background-color-hover); }
.button-secondary { --button-text-color: var(--color-secondary-dark); --button-background-color: var(--color-secondary-light); --button-background-color-hover: var(--color-secondary-lighter); }
.button-tertiary { --button-text-color: var(--color-tertiary-darker); --button-background-color: var(--color-tertiary-light); --button-background-color-hover: var(--color-tertiary); }
button i, 
.button i { margin-left: 1em; }
.text-right > button,
.text-right > .button { margin-right: 0; }

input, 
textarea, 
select { display: block; width: 100%; height: 41px; padding: 8px 12px; margin: 2px 0; font-size: 1rem; line-height: 1.35; vertical-align: top; background-color: var(--color-white); border: 2px solid transparent; border-radius: 2px; outline: none; transition: border-color .25s ease;}
textarea { min-height: 75px; resize: vertical; }
input:focus, 
textarea:focus, 
select:focus { border-color: var(--color-tertiary-dark); }
fieldset { display: flex; padding: 0; margin: 0; margin-bottom: 1.25em; flex-direction: column; border: none; }
fieldset > label { margin-bottom: 3px; font-weight: 600; }
fieldset > label a { text-decoration: none; color: var(--color-tertiary-darker); transition: color .25s ease; }
fieldset > label a:hover { color: var(--color-primary-dark); }
fieldset.required > label:first-child::after { content: ' *'; color: var(--color-primary-light); }
fieldset.optional > label:first-child::after { content: ' (optionnel)'; font-size: .8rem; font-weight: 400; opacity: .65; }
::placeholder { font-weight: 400; color: #bbb; }
::-moz-placeholder { font-weight: 400; color: #bbb; }

form { position: relative; }
form::after { content: '\f110'; display: flex; width: 100%; height: 100%; justify-content: center; align-items: center; font-family: 'Font Awesome 6 Pro'; font-size: 2rem; position: absolute; top: 0; left: 0; opacity: 0; animation: fa-spin 2s linear infinite; pointer-events: none; }
form.processing::after { opacity: 1; pointer-events: all; }
form.processing > * { opacity: .25; pointer-events: none; }

.custom-file-input { display: block; width: 100%; height: 41px; padding: 8px 12px; padding-left: 35px; margin: 2px 0; font-size: 1rem; font-weight: 400; line-height: 1.35; background-color: var(--color-white); border: 2px solid transparent; border-radius: 2px; outline: none; overflow: hidden; cursor: pointer; position: relative; transition: border-color .25s ease; }
.custom-file-input i { font-size: 1.25rem; font-weight: 400; line-height: 1; color: var(--color-tertiary-black); position: absolute; top: .5em; left: .5em; } 
.custom-file-input input { position: absolute; top: 0; left: -1000px; opacity: 0; pointer-events: none; }
.custom-file-input input + *:empty + .select-label::before { content: 'Sélectionner un fichier'; color: #7c8e96; transition: color .25s ease; }
.custom-file-input:hover input + * + .select-label::before { color: var(--color-black); }
.custom-file-input:focus-within { border-color: var(--color-tertiary-dark); }

#help-bar { width: 100%; height: 57px; padding: 10px; background-color: var(--color-tertiary); position: absolute; top: 0; left: 0; }
#help-bar .container { display: flex; justify-content: flex-end; align-items: center; }
#help-bar .phone { font-size: 1rem; font-weight: 600; text-decoration: none; color: #0a2e3e; border-top: 2px solid transparent; border-bottom: 2px solid transparent; transition: border-color .15s ease; }
#help-bar .phone:hover { border-bottom: 2px solid; }
#help-bar .cta { display: inline-flex; padding: 8px 14px; margin-left: 30px; font-size: .9rem; font-weight: 600; text-decoration: none; color: white; background-color: var(--color-primary); border-radius: 1px; border-bottom-left-radius: 15px; transition: background-color .2s ease; }
#help-bar .cta:hover { background-color: var(--color-primary-light); }

header { width: 100%; background-color: var(--color-white); position: absolute; top: 57px; left: 0; z-index: 10; }
header .container { display: flex; height: 120px; justify-content: space-between; align-items: center; transition: height .25s ease-out; }
header .branding { width: 175px; }
header .branding a { display: flex; align-items: center; } 
header .branding img { width: 100%; height: auto; margin: 10px 0; transition: all .25s ease-out; } 
header nav { flex: 1; }
header nav > ul { display: flex; padding: 0; justify-content: flex-end; list-style: none; }
header nav > ul > li > a, 
header nav > ul > li .dropdown-toggle { display: block; padding: 15px; font-weight: 500; text-decoration: none; color: var(--color-black-primary); position: relative; cursor: pointer; transition: color .15s ease; }
header nav > ul > li:not(:first-child) { margin-left: 10px; }
header nav > ul > li > a:hover, 
header nav > ul > .dropdown:hover .dropdown-toggle { color: var(--color-primary); }
header nav > ul > li > a.current { color: var(--color-primary-dark); border-bottom: 2px solid var(--color-primary-light); }
header nav .dropdown { position: relative; }
header nav .dropdown .dropdown-list { display: block; width: 200px; max-height: 0; padding: 0; list-style: none; border-radius: 2px; border-bottom-left-radius: 15px; position: absolute; top: 100%; left: 0; overflow: hidden; transition: max-height .25s ease; }
header nav .dropdown .dropdown-list::before { content: ' '; display: block; width: 100%; height: 10px; }
header nav .dropdown .dropdown-list::after { content: '\f0d8'; font-family: 'Font Awesome 6 Pro'; font-size: 32px; font-weight: 600; line-height: 1; color: var(--color-tertiary); position: absolute; top: -8px; left: 22.5%; }
header nav .dropdown .dropdown-list a { display: block; padding: 12px 14px; font-size: .9rem; text-decoration: none; color: var(--color-tertiary-black); background-color: var(--color-tertiary); position: relative; z-index: 10; transition: background-color .15s ease; }
header nav .dropdown .dropdown-list a:hover { background-color: var(--color-tertiary-dark); }
header nav .dropdown .dropdown-toggle::after { content: '\f107'; margin-left: .35em; font-family: 'Font Awesome 6 Pro'; font-size: 16px; position: relative; top: 1px; }
header nav .dropdown:hover .dropdown-list { max-height: 400px; box-shadow: 0 7px 8px rgba(0, 0, 0, .075); transition: max-height .5s ease, box-shadow .5s ease .1s; }
body.stick-nav header { position: fixed; top: 0; box-shadow: 0 3px 15px rgba(0, 0, 0, .075); transition: box-shadow .35s ease; }
body.stick-nav header .container { height: 90px; transition: height .35s ease-in-out; }
body.stick-nav header .branding img { width: 65%; transition: all .35s ease-in-out; }

footer { padding: 90px 0; min-height: 250px; color: var(--color-white); background-color: var(--color-black); }
footer .container { display: flex; justify-content: space-between; }
footer a:not(.button) { color: var(--color-white); transition: color .15s ease; }
footer a:not(.button):hover { color: var(--color-primary-light); }
footer .contact .links { margin-top: 20px; }
footer .contact .links > * { margin-top: 5px; }
footer .contact .links i { margin-right: 5px; }
footer .contact .license { margin-top: 20px; font-size: .9rem; }
footer form { width: 350px; margin-top: -5px; }
footer form .title { padding-bottom: 10px; margin-bottom: 10px; font-family: var(--font-heading); font-size: 1.25rem; font-weight: 600; border-bottom: 2px solid #232729; }
footer form input, 
footer form select, 
footer form textarea { font-size: .9rem; color: white; background-color: #232729; border-color: #44494c; }

/* >>> BLOG >>> */
.article-listing { display: grid; grid-template-columns: repeat(2, 1fr); gap: 30px; }
.article-listing a { display: block; padding: 30px; text-decoration: none; color: var(--color-black); background-color: white; border-radius: 1px; }
.article-listing a .title { display: block; font-size: 1.2rem; font-weight: 600; }
.article-listing a .preview { margin-top: 10px; font-size: .9em; color: var(--color-tertiary-darker); }
/* <<< BLOG <<< */

/* >>> HOMEPAGE >>> */
#hero { display: flex; min-height: max(75vh, 500px); background-image: url('../media/heading-background-blurred.jpg'); background-size: cover; background-position: center top; background-repeat: no-repeat; background-color: var(--color-primary); background-blend-mode: soft-light; }
#hero h1 { width: 600px; max-width: 100%; font-size: 2.65rem; color: white; }
#hero .cta { display: inline-flex; padding: 18px 26px; font-size: 1.1rem; font-weight: 600; text-decoration: none; color: var(--color-tertiary-darker); background-color: var(--color-tertiary); border-bottom-left-radius: 20px; transition: background-color .25s ease; }
#hero .cta i { margin-left: 15px; font-size: 1.35rem; line-height: 1.2; position: relative; top: 2px; left: -1px; transition: left .25s ease-in-out; }
#hero .cta:hover { background-color: var(--color-white); }
#hero .cta:hover i { left: 2px; }

#advantages { background: var(--color-white); }
#advantages .container { display: flex; justify-content: space-between; align-items: center; }
#advantages .advantage { padding: 3em 0; text-align: center; font-size: 1.15rem; }
#advantages .advantage i { font-size: 2.5em; line-height: 1; color: var(--color-primary); margin-bottom: .35em; }
#advantages .advantage .title { font-size: 1.5em; font-weight: 600; line-height: 1.5; text-transform: uppercase; color: var(--color-primary); }
#advantages .advantage .description { font-size: 1em; color: var(--color-primary-light); }
#advantages .advantage .description sup { vertical-align: baseline; font-size: .85em; position: relative; top: -.15em; }
#advantages .advantage .description sup a { text-decoration: none; color: inherit; }
#advantages .advantage .description sup a:hover { color: #000 }

#services { text-align: center; background-image: url('../media/stock-photo-roof-shingles.jpg'); background-size: cover; background-position: center top; background-blend-mode: soft-light; }
#services ul { display: grid; padding: 0; margin-top: 60px; grid-template-columns: repeat(3, 1fr); gap: 30px; list-style: none; }
#services a { display: flex; width: 100%; min-height: 75px; padding: 15px; flex-direction: column; justify-content: center; align-items: center; font-size: 1em; font-weight: 600; text-align: center; text-decoration: none; color: white; background-color: rgba(0, 0, 0, .25); border: 2px solid transparent; border-radius: 2px; transition: background-color .15s ease, border .15s ease, backdrop-filter .15s ease; }
#services a i { margin: .25em auto; font-size: 2em; }
#services a:hover { background-color: rgba(230, 72, 130, 0.6); border-color: var(--color-primary-lighter); }
/* <<< HOMEPAGE <<< */

/* >>> CONTENT PAGES >>> */
#page-header { display: flex; min-height: 150px; align-items: center; background-image: url('../media/heading-background-blurred.jpg'); background-size: cover; background-position: top -500px center; background-blend-mode: soft-light; background-attachment: fixed; background-color: var(--color-primary); box-shadow: inset 0 0 15px rgba(0, 0, 0, .25); } 
#page-header h1 { font-family: var(--font-heading); font-size: 3rem;  line-height: 1.35; color: white; }

#calculator-cta .container { margin-bottom: 20px; }
/* <<< CONTENT PAGES <<< */


/* >>> ABOUT PAGE >>> */
#garantie ul { display: grid; grid-template-columns: repeat(2, 1fr); gap: 45px; padding: 0; margin: 45px auto; list-style: none; }
#garantie ul li { padding: 60px 30px; text-align: center; color: var(--color-primary-dark); background-color: #fff; border-radius: 1px; }
#garantie ul li .type { font-size: 1.1rem; }
#garantie ul li .length { font-size: 2rem; font-weight: 600; text-transform: uppercase; }
#garantie ul li .length sup { margin-right: -.25em; font-size: .75em; font-weight: 400; vertical-align: baseline; position: relative; top: -.35em; }
#garantie ul li:nth-child(2n) { background-color: var(--color-primary-light); color: white; }

#partenaires ul { display: grid; grid-template-columns: repeat(4, 1fr); gap: 45px; padding: 0; margin-bottom: 60px; list-style: none; }
#partenaires a { display: block; width: 100%; height: 100%; background-color: white; transition: opacity .25s ease; }
#partenaires img { width: 100%; height: 100%; object-fit: cover; object-position: center; }
#partenaires a:hover { opacity: .75; }
/* <<< ABOUT PAGE <<< */


/* >>> CAREER PAGE >>> */
#career-decoration { background-image: url('../media/roofer-working.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; background-blend-mode: soft-light; background-color: var(--color-primary); }
/* <<< CAREER PAGE <<< */


/* >>> CONTACT PAGE >>> */
.contact-fields > * { display: grid; grid-template-columns: 40px auto; gap: 15px; margin-bottom: 20px; font-size: 1.25rem; }
.contact-fields i { font-size: 1.5rem; line-height: 1.25; text-align: center; color: var(--color-primary); }
.contact-fields a { text-decoration: none; color: var(--color-primary); }
.contact-fields a:hover { text-decoration: underline; }
/* <<< CONTACT PAGE <<< */


/* >>> ESTIMATOR >>> */
.field-swatches { display: grid; grid-template-columns: repeat(3, 1fr); gap: 30px; margin-top: 8px; }
.field-swatches .swatch { display: flex; width: 100%; max-width: 100%; padding: 15px; flex-direction: column; font-size: 1rem; font-weight: 600; text-align: center; background-color: white; border-radius: 3px; box-shadow: 0 0 0 rgb(0 0 0 / 10%); opacity: .6; cursor: pointer; transition: all .25s ease-out; }
.field-swatches .swatch img { width: 100%; height: auto; margin-bottom: 15px; border: 3px solid transparent; border-radius: 2px; transition: border-color .25s ease-out; }
.field-swatches .swatch .description { margin-top: .25em; font-size: .8rem; font-weight: 400; color: #737373; }
.field-swatches .swatch input[type='radio'] { width: 20px; height: 20px; padding: 0; margin: 0 auto; margin-top: 10px; border: 2px solid #fff; border-radius: 50%; box-shadow: 0 0 0px 1px #bbb; appearance: none; cursor: pointer; transition: all .15s ease; }
.field-swatches .swatch input[type='checkbox'] { width: 20px; height: 20px; padding: 0; margin: 0 auto; margin-top: 10px; background: url('/assets/fontawesome/svgs/solid/check.svg'); background-size: 0; background-position: center; background-repeat: no-repeat; border: 2px solid #fff; border-radius: 2px; box-shadow: 0 0 0px 1px #bbb; appearance: none; cursor: pointer; transition: all .15s ease; }
.field-swatches .swatch input[type='radio']:checked { background-color: var(--color-primary); box-shadow: 0 0 0px 1px var(--color-primary); }
.field-swatches .swatch input[type='checkbox']:checked { background-size: 90%; box-shadow: 0 0 0px 1px var(--color-primary); }
.field-swatches .swatch .input-wrapper { margin-top: 15px; text-align: center; }
.field-swatches .swatch .input-wrapper .label { display: block; margin-bottom: 5px; font-size: .85rem; font-weight: 600; color: var(--color-primary); }
.field-swatches .swatch .input-wrapper input[type="number"] { width: 60px; max-width: 100%; padding: 5px; margin: auto; text-align: center; border: 2px solid #cae0ea; }
.field-swatches .swatch:focus-within:not(.always-selected) { outline: 3px solid var(--color-primary); }
.field-swatches .swatch:hover { transform: scale(1.01); box-shadow: 0 0 15px rgba(0, 0, 0, .1); opacity: 1; }
.field-swatches .swatch:hover input[type='radio'],
.field-swatches .swatch:hover input[type='checkbox'] { box-shadow: 0 0 0px 1px var(--color-primary); transition: all .25s ease-out; }
.field-swatches .swatch.selected { transform: scale(1.01); box-shadow: 0 0 15px rgba(0, 0, 0, .1); opacity: 1; }
.field-swatches .swatch.selected img { border-color: var(--color-primary-light); }
.field-swatches .swatch.always-selected { transform: scale(1.01); box-shadow: 0 0 15px rgba(0, 0, 0, .1); opacity: 1; }
.field-swatches .swatch.always-selected img { border: none; }
input#area { display: inline-block; width: 100px; }
select#area-unit { display: inline-block; width: 75px; }
#estimate-form select[name="type"] { width: 350px; max-width: 100%; }
#estimate-form .button-container { margin-top: 60px; }
#resultat .estimated-total { width: 350px; max-width: 100%; padding: 15px 22px; margin: 30px 0; font-size: 1.5em; color: var(--color-tertiary-black); background-color: var(--color-tertiary); border-radius: 2px; }
#resultat .estimated-total [data-key="total"] { font-weight: 600; }
#resultat .estimated-total i { font-size: 1rem; color: var(--color-tertiary-darker); }
#post-estimate-form { width: 450px; max-width: 100%; margin: 60px auto; }
#post-estimate-inputs { display: none; }
#cta-form-success { display: none; margin-top: 60px; font-weight: 600; }
#cta-form-success i { font-size: 5rem; }
/* <<< ESTIMATOR <<< */


@media (min-width: 1280px) {
	.split-sections { display: grid; grid-template-columns: 1fr 1fr; --split-padding: calc(50vw - 570px); }
	.split-sections section:first-child { padding-left: var(--split-padding); padding-right: 90px; }
	.split-sections section:last-child { padding-right: var(--split-padding); padding-left: 90px; }
	.split-sections .container { width: 100%; max-width: 100%; }
}

@media (min-width: 768px) {
	form .two-columns { display: grid; grid-template-columns: 1fr 1fr; gap: 30px; }

	#contact-cta { position: relative; }
	#contact-cta::before { content: ' '; position: absolute;  top: 0; right: 0;  width: 45%; height: 100%; background-image: url('https://image.shutterstock.com/z/stock-photo-smiling-young-unshaven-business-man-in-light-shirt-protective-construction-helmet-isolated-on-grey-1687397161.jpg'); background-size: cover; background-position: center top; }
	#contact-cta .container { padding-right: 45%; }
}

@media (max-width: 768px) {
	.field-swatches { grid-template-columns: repeat(2, 1fr); gap: 20px; }
}